<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Word Game</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/signup">SignUp</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="login-wrap">
        <div class="login-html">
            <div class="login-form">
                <div class="sign-up-htm">
                    <h1 style="color: #000000;">Join the team!</h1>
                    <form th:action="@{/signup}" method="post" th:object="${user}" onsubmit="return validateForm()" class="form-container">
                        <div class="group">
                            <label for="user" class="label">Name</label>
                            <input id="user" th:field="*{name}" type="text" class="input" required pattern="[a-zA-Z\s]+" title="Name should only contain letters and spaces">
                            <span id="nameError" style="color: red;"></span>
                        </div>
                        <div class="group">
                            <label for="email" class="label">Email</label>
                            <input id="email" th:field="*{email}" type="email" class="input" required>
                            <span id="emailError" style="color: red;"></span>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" th:field="*{password}" type="password" class="input" data-type="password" required>
                            <span id="passwordError" style="color: red;"></span>
                        </div>
                        <div class="group">
                            <label for="pass-confirm" class="label">Confirm Password</label>
                            <input id="pass-confirm" type="password" class="input" data-type="password" required>
                            <span id="confirmPasswordError" style="color: red;"></span>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<footer class="navbar navbar-dark bg-white text-dark text-center py-3 mt-4 fixed-bottom d-flex justify-content-center">
    <p>Developed by Hamenjeet Kaur &copy; 2024</p>
</footer>
</body>
</html>